/* Ventas */

.container {
    padding: 100px 0 0 0;
}

.container h4 {
    width: auto;
    height: auto;
    padding: 5% 5% 0;
    text-align: left;
}

.container p {
    width: 60%;
    padding: 0 5%;
    float: left;
    text-align: left;
}

.container h5 {
    float: right;
    width: 50%;
}

.container .buttom {
    float: right;
}

.container .btn_info {
    width: 300px;
    height: 50px;
    background: rgba(34, 34, 34, 0.8);
    border-radius: 5px;
}

.container .btn_info a {
    text-decoration: none;
}


/* menu de paginacion de imagenes de ventas */

.container .pagination .Previous a {
    background: transparent;
    border: none;
    font-size: 20px;
}

.container .pagination .Next a {
    background: transparent;
    border: none;
    font-size: 20px;
}

.container .pagination h6 {
    font-size: 30px;
    color: black;
}

.container .descripcion_ {
    width: auto;
    height: 200px;
}

.container .descripcion_ img {
    width: 100%;
    height: auto;
}